@font-face{
    font-family: TakaoExGothic;
    src: url("/fonts/TakaoExGothic.ttf");
}

@font-face{
    font-family: NotoColorEmoji;
    src: url("/fonts/NotoColorEmoji.ttf");
}

@font-face{
    font-family: KanjiStrokeOrders;
    src: url("/fonts/KanjiStrokeOrders.ttf");
}

@font-face{
    font-family: FiraCode;
    src: url("/fonts/FiraCode.ttf");
}

body {
    font-family: TakaoExGothic;
}

.noto-emoji {
    font-family: NotoColorEmoji;
    font-size: 1.5em;
}

.stroke-order {
    font-family: KanjiStrokeOrders;
    font-size: 100px;
    margin: 0;
}

.fira-code {
    font-family: FiraCode;
}

@page {
    margin: 2cm;
}

@media print {
    .pagebreak {
        page-break-after: always;
    }
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.1em;
}
